/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 3, ../sass/partials/_modules.scss */
.contact-s3, .menu-s3, .promo-s3 {
  background-blend-mode: multiply !important;
  background-color: #666 !important;
}

/* line 9, ../sass/partials/_modules.scss */
.contact-s2 {
  background-position: right !important;
}

/* line 13, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

/* line 16, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 22, ../sass/partials/_modules.scss */
  .classes-s1, .classes-s2, .classes-s3, .classes-s4 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 23, ../sass/partials/_modules.scss */
  .classes-s1 *, .classes-s2 *, .classes-s3 *, .classes-s4 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 30, ../sass/partials/_modules.scss */
  .classes-s1, .classes-s4 {
    background-position: right !important;
  }

  /* line 35, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2, .promo-s1, .promo-s2 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 36, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 *, .promo-s1 *, .promo-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 43, ../sass/partials/_modules.scss */
  .contact-s1, .promo-s1 {
    background-position: right !important;
  }

  /* line 48, ../sass/partials/_modules.scss */
  .contact-s2 {
    background-position: left !important;
  }

  /* line 53, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s3 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 54, ../sass/partials/_modules.scss */
  .menu-s1 *, .menu-s3 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 63, ../sass/partials/_modules.scss */
  .index-s1 {
    background-blend-mode: multiply !important;
    background-color: #666 !important;
    background-position: left !important;
  }
  /* line 64, ../sass/partials/_modules.scss */
  .index-s1 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 74, ../sass/partials/_modules.scss */
  .navbar-toggler {
    background-color: #666;
    border-color: #333;
  }
  /* line 78, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #666;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }
  /* line 79, ../sass/partials/_modules.scss */
  .navbar-nav * {
    color: #fff !important;
  }

  /* line 89, ../sass/partials/_modules.scss */
  .user-s1 {
    background-position: right !important;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.classes-s1 {
  background-attachment: scroll;
  background-image: url(../img/classes/classes-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.classes-s2 {
  background-attachment: scroll;
  background-image: url(../img/classes/classes-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.classes-s3 {
  background-attachment: scroll;
  background-image: url(../img/classes/classes-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.classes-s4 {
  background-attachment: scroll;
  background-image: url(../img/classes/classes-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s1 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s2 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s3 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.user-s1 {
  background-attachment: scroll;
  background-image: url(../img/user/user-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
