
.contact,.menu,.promo{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #666 !important;
    }
}
.contact{
    &-s2{
        background-position: right!important;
    }
}
nav{
    z-index: 10;
}
textarea{
    resize:none;
}

@media all and (max-width: 767px){
    .classes{
        &-s1,&-s2,&-s3,&-s4{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1,&-s4{
            background-position: right!important;
        }
    }
    .contact,.promo{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .contact{
        &-s2{
            background-position: left!important;
        }        
    }
    .menu{
        &-s1,&-s3{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .index{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #666 !important;
            background-position: left!important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #666;
            border-color: #333;
        }
        &-nav{
            *{
                color:#fff!important;
            }
            background-color: #666;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
    .user{
        &-s1{
            background-position: right!important;
        }
    }
}